// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

 $gray: #F4F4F4;

 body {
   background: $gray;
 }

  a {
   color: grey;
   &:hover {
     color: black;
   }
 }


